# 1. Import libraries and define global variables

In [2]:
import os

# Import other libraries where needed.

INPUT_DATA_FILPATH = os.path.join("database", "application_bureau_general.csv")

# 2. Import data

In [8]:
import pandas as pd

df = pd.read_csv(INPUT_DATA_FILPATH)

df

,APP_ID,BUREAU_ID,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

# 3. Treat data

## 3.1. Ensure APP_ID and BUREAU_ID are strings

In [18]:
df[["APP_ID", "BUREAU_ID"]] = df[["APP_ID", "BUREAU_ID"]].astype(str)

df.dtypes

APP_ID                     object
BUREAU_ID                  object
CREDIT_ACTIVE              object
DAYS_CREDIT                 int64
CREDIT_DAY_OVERDUE          int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG          int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
CREDIT_TYPE                object
DAYS_CREDIT_UPDATE          int64
AMT_ANNUITY               float64
dtype: object

## 3.2. Filter the datasets CREDIT_ACTIVE is "Active", CREDIT_TYPE is "Credit Card", AMT_CREDIT_SUM_LIMIT > 0

In [4]:
pass

## 3.3. Select columns of interest: ["APP_ID", "DAYS_CREDIT", "AMT_CREDIT_SUM", "AMT_CREDIT_SUM_DEBT", "AMT_CREDIT_SUM_LIMIT"]

In [5]:
pass

## 3.4. Create new features: 
1. SUM_TO_LIMIT: credit sum to credit limit.
2. DEBT_TO_LIMIT: credit sum debt to credit sum limit.
3. DEBT_TO_LIMIT_GRADE: "LOW" if DEBT_TO_LIMIT if <= 0.3, "MEDIUM" if (0.3, 0.6], "HIGH" if >0.6.

In [6]:
pass

## 3.5. Sort by APP_ID and DAYS_CREDIT

In [7]:
pass

## 4. Get count, average, min, max, first, and last per ID for the following fields:
["AMT_CREDIT_SUM", "AMT_CREDIT_SUM_DEBT", "AMT_CREDIT_SUM_LIMIT", "SUM_TO_LIMIT", "DEBT_TO_LIMIT"]

In [8]:
pass

# 5. Get the most recent debt-to-limit and least recent debt-to-limit

In [9]:
pass

# 6. Filter so that days credit is less than 12 months (>-365 DAYS), then get min and max debt-to-limit

In [10]:
pass

# 7. Filter so that days credit is less than 30 days, then calculate the percentage distribution of "Low", "Medium", and "High" debt-to-ratio values

In [11]:
pass

# 8. Get data of the APP_IDs with the oldest day credit.

In [12]:
pass

# 9. Export data

In [13]:
pass